<%= form_for @book do |f| %>

  <% if @book.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@book.errors.count, "error") %> prohibited
      this book from being saved:
    </h2>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
