<h1>Listing books</h1>

<%= link_to 'New book', new_book_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Authors</th>
    <th>ISBN</th>
    <th>Topic</th>
    <th>Category</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td>
      <% book.authors.each do |author| %>
        <%= author.name %></br>
      <% end %>
      </td>
      <td><%= book.isbn %></td>
      <td><%= book.topic.name %></td>
      <td><%= book.category.name %></td>
      <td><%= link_to 'Show', book_path(book) %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book_path(book),
                       method: :delete,
                       data: { confirm: 'Nooooooo!' } %></td>
    </tr>
  <% end %>
</table>
