<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Authors:</strong>
  <% @book.authors.each do |author| %>
    <%= author.name %></br>
  <% end %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path(@book) %>
